:root {

	--grid-with: 1140px;
	--grid-gutter: .5em;
}

.container {
	max-width: var(--grid-with);
	margin: auto;
}

.row {
	display: flex;
}

.col {
	width: fit-content;
	padding: 0 var(--grid-gutter);
}

.col--lead {
	flex: 1;
}

.col--center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.col--right {
	display: flex;
	justify-content: flex-end;
}